.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px;
    padding: 16px 0 16px 64px;
    background: transparent;
}

.logo {
    width: auto;
    font-size: 4rem;
}

.logo__link:hover #first-letter {
    transform: rotate(0);
}

.logo__link--container {
    display: flex;
}

.logo__link #first-letter {
    transform: rotate(30deg);
    transition: all 0.2s ease-in;
}

.logo a {
    color: rgb(233, 146, 15);
}

.main-nav {
    min-width: 70%;
    display: flex;
}

.main-nav__links {
    display: flex;
    padding: 0;
}

.main-nav__link {
    margin: 0 32px;
}

.main-nav__link a {
    position: relative;
    color: rgb(228, 228, 228);
    transition: all 0.2s ease-in;
}

.main-nav__link a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0.1rem;
    border-radius: 8px;
    transition: all 0.2s ease-in;
}

.main-nav__link a:hover {
    color: rgb(194, 191, 191);
}

.main-nav__link a:hover::before {
    background-color: rgb(245, 245, 245);
    width: 80%;
}