.hero__images {
  height: 100%;
  width: 40%;
  min-width: 30%;
  margin: 6rem 0 6rem 0;
  padding: 3rem;
  background-color: rgb(50, 129, 154);
  border-radius: 0 8px 0 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
}

.hero__images::before,
.hero__images::after,
#another-before::before {
  content: "";
  position: absolute;
  background-color: inherit;
}

.hero__images::before {
  top: 0;
  left: -79.6%;
  width: 80%;
  height: 80%;
  border-top-left-radius: 8px;
  clip-path: polygon(0 0, 52.7% 100%, 100% 100%, 100% 0);
}

.hero__images::after {
  top: 63.5%;
  left: -41%;
  width: 42%;
  height: 37.5%;
  border-bottom-left-radius: 100%;
  border: 2px solid rgb(50, 129, 154);
  border-right: none;
  border-top: none;
  transform: rotate(-5deg);
}

#another-before::before {
  background-color: rgb(50, 129, 154);
  bottom: -12.5%;
  right: 0;
  width: 106%;
  height: 13%;
  border-radius: 0 0 8px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

#another-before {
  width: 80%;
  height: 20rem;
}

.light-side {
  width: 70%;
  position: absolute;
  left: -20%;
  top: 0;
  z-index: 1;
}

.student-side {
  width: 80%;
  height: 22rem;
  position: absolute;
  left: -30%;
  bottom: 10%;
  z-index: 1;
}

.window-side {
  height: 28%;
  width: 60%;
  position: absolute;
  right: 5%;
  top: 30%;
  text-align: right;
}

.hero__images div img {
  width: 100%;
  height: 100%;
}

@media (min-width: 75em) {
  .light-side {
    width: 45%;
    left: 0;
  }
}

@media (min-width: 101.5625em) {
  .hero__images::before {
    clip-path: polygon(0 0, 51.2% 100%, 100% 100%, 100% 0);
  }

  .hero__images::after {
    left: -41.9%;
    transform: rotate(-3.9deg);
  }

  .light-side {
    width: 35%;
  }
}
