.main-nav__links {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.main-nav__link {
      margin: 0 1rem;
}
  
.main-nav__link a {
      position: relative;
      color: rgb(228, 228, 228);
      transition: all 0.2s ease-in;
}
  
.main-nav__link a::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 0.1rem;
      border-radius: 8px;
      transition: all 0.2s ease-in;
}
  
.main-nav__link a:hover {
      color: rgb(194, 191, 191);
}
  
.main-nav__link a:hover::before {
      background-color: rgb(245, 245, 245);
      width: 80%;
}

/* 750px (phones) */
@media (max-width: 49.375em) {
    .main-nav__links {
        width: 100%;
    }
}