.hero__introduction {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  align-self: center;
  font-size: 1rem;
}

.hero__title,
.hero__subTitle,
.hero__description,
.hero__link {
  width: 100%;
  display: block;
  margin: 1rem 0;
}

.hero__title {
  font-family: "Indie Flower", cursive;
  font-family: "Mochiy Pop P One", sans-serif;
  padding-top: 1.5rem;
  font-size: 3.8em;
  color: rgb(233, 146, 15);
  font-weight: lighter;
}

.hero__subTitle {
  font-size: 1.5em;
  margin-bottom: 0;
}

.hero__description {
  font-weight: 500;
  margin-top: 0.3rem;
}

.hero__link {
  width: auto;
  display: inline-block;
  font-size: 1.4em;
  color: rgb(255, 254, 254);
  background-color: #f42b03;
  background-image: linear-gradient(316deg, #f42b03 0%, #f7b42c 74%);
  padding: 0.8rem 2.5rem;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.hero__helperLink {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  border-radius: inherit;
  transition: opacity 0.3s ease-out;
}

.hero__link:hover .hero__helperLink {
  opacity: 1;
}

/* 750px (phones) */
@media (max-width: 49.375em) {
  .hero__introduction {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin: 0 1rem;
    transform: translateY(-13vw);
  }
  .hero__links {
    width: 50%;
  }
}

/* 335px */
@media (max-width: 20.9375em) {
  .hero__introduction {
    font-size: 0.8rem;
  }
}

/* Height 800px */
@media (max-height: 50em) {
  .hero__introduction {
    margin-top: 1rem;
  }
}
